
<div class="thumbnail">
  <div class="" style="height: 200px;">
    <%= link_to(product) do %>
    <%= image_tag product.image.url(:medium), class: "img-responsive"%>
    <% end %>
  </div>

  <div class="caption">
    <h3><%= product.name %></h3>
    <p>
      <%=  number_to_currency product.price %>
    </p>
    <p style="height:150px;">
      <%= product.description %>
    </p>
    <div class="row">
      <div class="col-sm-6">
        <p>
          Made by: <%= product.brand %>
        </p>
      </div>
      <div class="col-sm-6">
        <p class="text-right">
          <%= link_to("#", {'data-toggle' => "modal", 'data-target' =>"#myModal_#{product.id}"}) do %>
          <span class="glyphicon glyphicon-plus"></span> quick info
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
